/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
input[type=checkbox][data-indeterminate="true"]:not(:checked):after {
    content: "";
    position: absolute;
    top: calc(var(--checkbox-size) / 2 - 2px);
    width: calc(var(--checkbox-size) - 6px);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    display: block;
    border-radius: 2px;
    background-color: var(--text-normal);
  }
  .task-list-item-checkbox {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
  }
  .markdown-preview-view .task-list-item-checkbox {
    position: relative;
    top: 0.2em;
    margin-inline-end: 0.6em;
  }
  ul > li.task-list-item {
    list-style: none;
  }
  ul > li.task-list-item > p > .task-list-item-checkbox,
  ul > li.task-list-item > .task-list-item-checkbox {
    margin-inline-start: calc(var(--checkbox-size) * -1.5);
  }
  ul > li.task-list-item[data-task="x"],
  ul > li.task-list-item[data-task="X"] {
    text-decoration: var(--checklist-done-decoration);
    color: var(--checklist-done-color);
  }
  .cm-s-obsidian span.cm-formatting-task {
    white-space: pre;
    height: 1em;
    line-height: 1em;
    min-width: 1em;
    text-align: center;
    color: var(--text-muted);
    background-size: 1em;
    font-family: var(--font-monospace);
  }
  .cm-s-obsidian span.hmd-hidden-token.cm-formatting-task {
    color: transparent !important;
  }
